@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

input {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Roboto", sans-serif;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App--container {
  background-color: #222;
  color: #eee;
  min-height: 100vh;
}

.Layout--container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.Header--container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  align-items: center;
  background-color: #181818;
  padding: 0 1em;
}

.Header--leftPanel {
  display: flex;
  align-items: center;
  gap: 1em;
}

.Header--container img {
  max-height: 50px;
}

.Header--container h1 {
  color: #39ac31;
}

.Header--rightPanel {
  border: 2px solid #eee;
  border-radius: 5px;
  height: 40px;
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 8px;
  cursor: pointer;
  /* position: relative; */
}

.Header--nav {
  position: absolute;
  top: 70px;
  right: 10px;
  flex-direction: column;
  background-color: #181818;
  border: 2px solid #111;
  padding: 0.3em 1em;
  border-radius: 5px;
  align-items: center;
  width: 150px;
}

.Header--nav > *:not(:last-child) {
  border-bottom: 1px dashed white;
}

.Header--nav a {
  text-decoration: none;
  color: inherit;
  padding: 0.5em 0;
  width: 100%;
  text-align: center;
}

.Header--nav a:hover {
  text-decoration: none;
  color: #39ac31;
}

.Header--nav a.active {
  color: #39ac31;
}

.LogoutButton {
  color: rgb(255, 106, 106);
  cursor: pointer;
  padding: 0.5em 0;
}

.LogoutButton:hover {
  color: rgb(241, 35, 35);
}

.Footer--container {
  width: 100%;
  background-color: #181818;
  color: #aaa;
  font-weight: 300;
  padding: 1em 1em;
}

.Home--container {
  font-size: 3rem;
}

.NotFound--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 20px;
  gap: 1em;
}

.NotFound--container h1 {
  font-size: 5rem;
  color: #39ac31;
}

.NotFound--img {
  background-image: url(./img/NotFound-img.gif);
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.NotFound--container h3 {
  font-size: 2.5rem;
  margin-bottom: 0.2em;
}

.NotFound--container p {
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.NotFound--container a {
  color: #fff;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  text-decoration: none;
  border-radius: 5px;
}

.Login--container,
.Register--container {
  display: flex;
  flex-direction: column;
  padding: 1em 2em;
  gap: 2em;
  width: 100%;
  max-width:500px;
}

.Login--container form,
.Register--container form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.Login--container form input,
.Register--container form input {
  padding: 1em;
  color: #111;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid #39ac31;
}

.Login--container form input:focus,
.Register--container form input:focus {
  background-color: #dbf3da;
  outline: none;
}

.Login--container form input[type="submit"],
.Register--container form input[type="submit"] {
  background-color: #39ac31;
  border: 1px solid #187911;
  cursor: pointer;
  color: white;
  font-size: 1.1rem;
}

.Login--container form input[type="submit"]:active,
.Register--container form input[type="submit"]:active {
  transform: translateY(-2px);
}

.Login--container a,
.Register--container a {
  text-decoration: none;
  color: #aaa;
  width: 100%;
  text-align: center;
}

.ErrorMessage {
  color: red;
  font-size: 1.1rem;
  text-align: center;
  padding: 1em;
}
